USE [FengestDB]
GO
/****** Oggetto:  Table [dbo].[DB_PRATICHE]    Data script: 03/13/2015 09:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_PRATICHE](
	[ID] [int] NOT NULL,
	[PracticeDate] [datetime] NULL,
	[UserId] [int] NULL,
	[PracticeTypeId] [int] NULL,
	[PracticeState] [int] NULL,
	[PracticeNote] [nvarchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Owner] [int] NULL,
 CONSTRAINT [PK_DB_PRATICHE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DB_PRATICHE]  WITH CHECK ADD  CONSTRAINT [FK_DB_PRATICHE_DB_UTENTE] FOREIGN KEY([UserId])
REFERENCES [dbo].[DB_UTENTE] ([ID])
GO
ALTER TABLE [dbo].[DB_PRATICHE] CHECK CONSTRAINT [FK_DB_PRATICHE_DB_UTENTE]
GO
ALTER TABLE [dbo].[DB_PRATICHE]  WITH CHECK ADD  CONSTRAINT [FK_DB_PRATICHE_Users] FOREIGN KEY([Owner])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[DB_PRATICHE] CHECK CONSTRAINT [FK_DB_PRATICHE_Users]