USE [FengestDB]
GO
/****** Oggetto:  Table [dbo].[DB_PRATICHE_DETAILS]    Data script: 03/13/2015 20:30:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_PRATICHE_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PracticeId] [int] NULL,
	[FilePath] [nvarchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Notes] [nvarchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Data] [datetime] NOT NULL,
 CONSTRAINT [PK_DB_PRATICHE_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DB_PRATICHE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_DB_PRATICHE_DETAILS_DB_PRATICHE] FOREIGN KEY([PracticeId])
REFERENCES [dbo].[DB_PRATICHE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DB_PRATICHE_DETAILS] CHECK CONSTRAINT [FK_DB_PRATICHE_DETAILS_DB_PRATICHE]