USE [FengestDB]
GO
/****** Oggetto:  Table [dbo].[DB_PRATICHE_EVENTS]    Data script: 03/13/2015 20:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_PRATICHE_EVENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PracticeId] [int] NULL,
	[PracticeState] [int] NULL,
	[PracticeNotes] [nvarchar](max) COLLATE Latin1_General_CI_AS NULL,
	[PracticeDate] [datetime] NULL,
	[PracticeOperator] [int] NOT NULL,
 CONSTRAINT [PK_DB_PRATICHE_EVENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DB_PRATICHE_EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_DB_PRATICHE_EVENTS_DB_PRATICHE] FOREIGN KEY([PracticeId])
REFERENCES [dbo].[DB_PRATICHE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DB_PRATICHE_EVENTS] CHECK CONSTRAINT [FK_DB_PRATICHE_EVENTS_DB_PRATICHE]
GO
ALTER TABLE [dbo].[DB_PRATICHE_EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_DB_PRATICHE_EVENTS_Users] FOREIGN KEY([PracticeOperator])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[DB_PRATICHE_EVENTS] CHECK CONSTRAINT [FK_DB_PRATICHE_EVENTS_Users]