<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WIN.GUI.PRINT.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WIN.GUI.PRINT.Settings1>
            <setting name="ReportTitle" serializeAs="String">
                <value>Federazione Nazionale Lavoratori Edili Affini e del Legno</value>
            </setting>
            <setting name="ReportSubTitle" serializeAs="String">
                <value>Sindacato Provinciale</value>
            </setting>
            <setting name="ReportSubTittle2" serializeAs="String">
                <value>Edili - Cementieri  - Manufatti Cemento  - Calce e Gesso  - Laterizi  - Legno - Boschivi</value>
            </setting>
            <setting name="ReportFooterTextVia" serializeAs="String">
                <value>Via Annunziatella  n° 95</value>
            </setting>
            <setting name="ReportFooterTextCitta" serializeAs="String">
                <value>Matera</value>
            </setting>
            <setting name="ReportFooterTextTelFax" serializeAs="String">
                <value>tel - fax: 0835 256450</value>
            </setting>
            <setting name="ReportFooterTextMail" serializeAs="String">
                <value>feneal.matera@uilmt.it</value>
            </setting>
            <setting name="ReportFooterTextSitoWeb" serializeAs="String">
                <value>www.feneal-uil.it</value>
            </setting>
            <setting name="ReportTitlePersonalizzato" serializeAs="String">
                <value>Feneal - uil - Matera</value>
            </setting>
        </WIN.GUI.PRINT.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
