*Sottosistema di persistenza da istanziare*
PersistenceService
C:\ProgettoFeneal\ProgettoFeneal\Sorgenti\WIN.GUI.APPLICATION\bin\Debug\WIN.PERSISTENCE.SQLSERVER_SERVICES.dll

*Classe di facciata che offre tutti i servizi per la persistenza nel sottosistema istanziato*
PersistenceFacadeService
WIN.PERSISTENCE.SQLSERVER_SERVICES.PersistenceFacade


*Numero di elementi conservati nella cache*
MaxCacheSize
1001

*Stringa di connessione*
ConnectionString
SERVER=FRANCESCO;DATABASE=gesintest_dbo;UserName=RegUsr;


*Tipo di servizio
ServiceName
MySql