
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[DB_DELEGHE_UTENTE]
AS
SELECT     dbo.DB_DELEGA.ID, dbo.DB_DELEGA.DATA_SOTTOSCRIZIONE, dbo.DB_DELEGA.DATA_DOCUMENTO, dbo.DB_DELEGA.NOTE_DEL, dbo.DB_DELEGA.ID_UTENTE, 
                      dbo.DB_DELEGA.ID_AZIENDA, dbo.DB_DELEGA.ID_REFERENTE, dbo.DB_DELEGA.DATA_INOLTRO, dbo.DB_DELEGA.DATA_ACCETTAZIONE, 
                      dbo.DB_DELEGA.DATA_ANNULLAMENTO, dbo.DB_DELEGA.STATO_DELEGA, dbo.DB_DELEGA.DATA_ATTIVAZIONE, dbo.DB_DELEGA.ID_PAGAMENTO, 
                      dbo.DB_DELEGA.ID_SETTORE, dbo.DB_DELEGA.STATO_DELEGA_PRECEDENTE, dbo.DB_DELEGA.ID_DELEGA_ANNULLAMENTO, dbo.DB_DELEGA.DATA_REVOCA, 
                      dbo.DB_DELEGA.ID_CAUSALE, dbo.DB_DELEGA.ID_CAUSALE_SOTT, dbo.DB_DELEGA.ID_REPARTO, dbo.DB_DELEGA.NOME_SEDE_OPERATIVA, 
                      dbo.DB_DELEGA.ID_RESPONSABILE, dbo.DB_DELEGA.DATA_IMPORTAZIONE, dbo.DB_DELEGA.CreatedBy, dbo.DB_DELEGA.CreatedOn, 
                      dbo.DB_DELEGA.ModifiedBy, dbo.DB_DELEGA.ModifiedOn, dbo.DB_UTENTE.DESCRIZIONE AS NOME_UTENTE, dbo.DB_AZIENDA.DESCRIZIONE AS NOME_AZIENDA,
                       dbo.DB_SETTORE.DESCRIZIONE AS NOME_SETTORE, dbo.COD_CAUSALI_REPARTI.DESCRIZIONE AS NOME_REPARTO, dbo.DB_UTENTE.CELL1, 
                      dbo.DB_UTENTE.CELL2, dbo.COD_CAUSALI_SOTTOSCRIZIONE.DESCRIZIONE AS NOME_CAUSALE_SOTTOSCRIZIONE, 
                      COD_CAUSALI_REVOCA_1.DESCRIZIONE AS NOME_CAUSALE, dbo.DB_AZIENDA.ID_TIPO_CONTRATTO, 
                      dbo.DB_TIPO_CONTRATTO.DESCRIZIONE AS NOME_CONTRATTO, dbo.DB_REFERENTE.NOME + '  ' + dbo.DB_REFERENTE.COGNOME AS NOME_RESPONSABILE, 
                      DB_REFERENTE_1.NOME + ' ' + DB_REFERENTE_1.COGNOME AS NOME_COLLABORATORE, dbo.DB_UTENTE.NOME, dbo.DB_UTENTE.COGNOME, 
                      dbo.DB_UTENTE.DATA_NASCITA, dbo.DB_UTENTE.ID_TB_NAZIONI, dbo.DB_UTENTE.ID_TB_PROVINCIE_NASCITA, dbo.DB_UTENTE.ID_TB_COMUNI_NASCITA, 
                      dbo.DB_UTENTE.ID_TB_PROVINCIE_RESIDENZA, dbo.DB_UTENTE.ID_TB_COMUNI_RESIDENZA, dbo.DB_UTENTE.CODICE_FISCALE, dbo.DB_UTENTE.INDIRIZZO, 
                      dbo.TB_NAZIONI.DESCRIZIONE AS NAZIONE, TB_PROVINCIE_1.DESCRIZIONE AS NOME_PROVINCIA_NASCITA, 
                      TB_COMUNI_1.DESCRIZIONE AS NOME_COMUNE_NASCITA, TB_PROVINCIE_2.DESCRIZIONE AS NOME_PROVINCIA, 
                      TB_COMUNI_2.DESCRIZIONE AS NOME_COMUNE, dbo.DB_UTENTE.CAP, dbo.DB_UTENTE.MAIL, dbo.DB_UTENTE.CODICE_EC, dbo.DB_UTENTE.CODICE_CE, 
                      dbo.DB_AZIENDA.INDIRIZZO AS INDIRIZZO_AZIENDA, dbo.DB_AZIENDA.CAP AS CAP_AZIENDA, dbo.DB_AZIENDA.MAIL AS MAIL_AZIENDA, 
                      TB_COMUNI_3.DESCRIZIONE AS COMUNE_AZIENDA, dbo.TB_PROVINCIE.DESCRIZIONE AS PROVINCIA_AZIENDA
FROM         dbo.TB_COMUNI AS TB_COMUNI_3 RIGHT OUTER JOIN
                      dbo.TB_PROVINCIE RIGHT OUTER JOIN
                      dbo.DB_AZIENDA ON dbo.TB_PROVINCIE.ID = dbo.DB_AZIENDA.ID_TB_PROVINCIE ON TB_COMUNI_3.ID = dbo.DB_AZIENDA.ID_TB_COMUNI LEFT OUTER JOIN
                      dbo.DB_TIPO_CONTRATTO ON dbo.DB_AZIENDA.ID_TIPO_CONTRATTO = dbo.DB_TIPO_CONTRATTO.ID RIGHT OUTER JOIN
                      dbo.DB_REFERENTE RIGHT OUTER JOIN
                      dbo.DB_DELEGA INNER JOIN
                      dbo.DB_UTENTE ON dbo.DB_DELEGA.ID_UTENTE = dbo.DB_UTENTE.ID LEFT OUTER JOIN
                      dbo.TB_COMUNI AS TB_COMUNI_2 ON dbo.DB_UTENTE.ID_TB_COMUNI_RESIDENZA = TB_COMUNI_2.ID LEFT OUTER JOIN
                      dbo.TB_PROVINCIE AS TB_PROVINCIE_2 ON dbo.DB_UTENTE.ID_TB_PROVINCIE_RESIDENZA = TB_PROVINCIE_2.ID LEFT OUTER JOIN
                      dbo.TB_COMUNI AS TB_COMUNI_1 ON dbo.DB_UTENTE.ID_TB_COMUNI_NASCITA = TB_COMUNI_1.ID LEFT OUTER JOIN
                      dbo.TB_NAZIONI ON dbo.DB_UTENTE.ID_TB_NAZIONI = dbo.TB_NAZIONI.ID LEFT OUTER JOIN
                      dbo.TB_PROVINCIE AS TB_PROVINCIE_1 ON dbo.DB_UTENTE.ID_TB_PROVINCIE_NASCITA = TB_PROVINCIE_1.ID LEFT OUTER JOIN
                      dbo.DB_REFERENTE AS DB_REFERENTE_1 ON dbo.DB_DELEGA.ID_REFERENTE = DB_REFERENTE_1.ID ON 
                      dbo.DB_REFERENTE.ID = dbo.DB_DELEGA.ID_RESPONSABILE LEFT OUTER JOIN
                      dbo.COD_CAUSALI_REPARTI ON dbo.DB_DELEGA.ID_REPARTO = dbo.COD_CAUSALI_REPARTI.ID LEFT OUTER JOIN
                      dbo.COD_CAUSALI_REVOCA AS COD_CAUSALI_REVOCA_1 ON dbo.DB_DELEGA.ID_CAUSALE = COD_CAUSALI_REVOCA_1.ID LEFT OUTER JOIN
                      dbo.COD_CAUSALI_SOTTOSCRIZIONE ON dbo.DB_DELEGA.ID_CAUSALE_SOTT = dbo.COD_CAUSALI_SOTTOSCRIZIONE.ID LEFT OUTER JOIN
                      dbo.DB_SETTORE ON dbo.DB_DELEGA.ID_SETTORE = dbo.DB_SETTORE.ID ON dbo.DB_AZIENDA.ID = dbo.DB_DELEGA.ID_AZIENDA
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

