<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WIN.GUI.APPLICATION.PRESENTATION.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WIN.GUI.APPLICATION.PRESENTATION.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WIN.GUI.APPLICATION.PRESENTATION.My.MySettings>
            <setting name="LarghezzaPanel" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VisualizzaFileOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckPaybility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComuneDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="ProvinciaDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="NazioneDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateDefaultPositionIF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateDefaultPositionED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxReturnedRecordNumber" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PathDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="FederationSite" serializeAs="String">
                <value>www.feneal-uil.it</value>
            </setting>
            <setting name="PathDefaultCartelleAziende" serializeAs="String">
                <value />
            </setting>
            <setting name="PathDefaultCartelleUtenti" serializeAs="String">
                <value />
            </setting>
            <setting name="PathComunicazioniDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="FenealgestWEB" serializeAs="String">
                <value>http://www.fenealgest.it</value>
            </setting>
            <setting name="EnableSms" serializeAs="String">
                <value>True</value>
            </setting>
        </WIN.GUI.APPLICATION.PRESENTATION.My.MySettings>
    </userSettings>
    <applicationSettings>
        <WIN.GUI.APPLICATION.PRESENTATION.My.MySettings>
            <setting name="WIN_FENGEST_GUI_FenealgestServices_FenealgestwebServices"
                serializeAs="String">
                <value>https://www.fenealgest.it/servizi/WebServices/FenealgestwebServices.asmx</value>
            </setting>
        </WIN.GUI.APPLICATION.PRESENTATION.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
