*Sottosistema di persistenza da istanziare*
PersistenceService
WIN.FENGEST.PERSISTENCE.dll

*Classe di facciata che offre tutti i servizi per la persistenza nel sottosistema istanziato*
PersistenceFacadeService
WIN.PERSISTENCE.SQLSERVER_SERVICES.PersistenceFacade


*Numero di elementi conservati nella cache*
MaxCacheSize
1000

*Stringa di connessione*
ConnectionString
Data Source=NOESIS4\NOESIS;Initial Catalog=Test_1.8;Persist Security Info=True;User ID=RegUsr;


*Tipo di servizio
ServiceName
MsSqlServer2005