<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WIN.DOMAIN.FED_SERVICES.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WIN.DOMAIN.FED_SERVICES.My.MySettings>
            <setting name="Ds21_PDF" serializeAs="String">
                <value>Ds__21.pdf</value>
            </setting>
            <setting name="Ds21_PDF_OLD" serializeAs="String">
                <value>Ds__21_old.pdf</value>
            </setting>
            <setting name="ASSEGNO_PER_PRESTAZIONI" serializeAs="String">
                <value>Richiesta Assegni per prestazioni.pdf</value>
            </setting>
            <setting name="ASSEGGNO_INCLUSIONE" serializeAs="String">
                <value>ANF 42 - INCLUSIONE.pdf</value>
            </setting>
            <setting name="ANFGESTSEP" serializeAs="String">
                <value>ANFGESTSEP.pdf</value>
            </setting>
            <setting name="ASSEGNI_FAMIGLIA_NUMEROSA" serializeAs="String">
                <value>ANF_NN.pdf</value>
            </setting>
            <setting name="ASSEGNO_FAMILIARE" serializeAs="String">
                <value>Richiesta Assegni Familiari per Dipendenti.pdf</value>
            </setting>
            <setting name="CONGEDO_PARENTALE" serializeAs="String">
                <value>Congedo Parentale.pdf</value>
            </setting>
            <setting name="CURE_TERMALI" serializeAs="String">
                <value>Mod Cure Termali.pdf</value>
            </setting>
            <setting name="DICHIRAZIONE_MALATTIA" serializeAs="String">
                <value>Dichiarazione di Malattia.pdf</value>
            </setting>
            <setting name="DISOCCUPAZIONE_REQUISITI_RIDOTTI" serializeAs="String">
                <value>Disoccupazione Requisiti Ridotti.pdf</value>
            </setting>
            <setting name="MATERNITA_OBBLIGATORIA" serializeAs="String">
                <value>Maternit… - Stato.pdf</value>
            </setting>
            <setting name="MODELLO_DETRAZIONI" serializeAs="String">
                <value>Modello di detrazioni.pdf</value>
            </setting>
            <setting name="MODELLO_HANDICAP" serializeAs="String">
                <value>MOD.HAND2.pdf</value>
            </setting>
            <setting name="PERMANENZA_DS" serializeAs="String">
                <value>Dichiarazione di Permanenza Disoccupazione.pdf</value>
            </setting>
            <setting name="Setting10" serializeAs="String">
                <value>DisoccupazioneOrdinaria-Autocertificazione.pdf</value>
            </setting>
            <setting name="Setting11" serializeAs="String">
                <value>DL86_88bis.pdf</value>
            </setting>
            <setting name="Setting12" serializeAs="String">
                <value>DS22 - Modello Impresa.pdf</value>
            </setting>
            <setting name="Setting13" serializeAs="String">
                <value>ECOCERT.pdf</value>
            </setting>
            <setting name="Setting18" serializeAs="String">
                <value>Modello Hand per maggiorenni.pdf</value>
            </setting>
            <setting name="Setting19" serializeAs="String">
                <value>O1M SOST.pdf</value>
            </setting>
            <setting name="Setting3" serializeAs="String">
                <value>Assegni 2006.pdf</value>
            </setting>
            <setting name="Setting4" serializeAs="String">
                <value>CIGS - PAG. DIRETTO.pdf</value>
            </setting>
            <setting name="Setting6" serializeAs="String">
                <value>Delega ModInps.PDF</value>
            </setting>
        </WIN.DOMAIN.FED_SERVICES.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
